@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Mulish:wght@300;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "mulish", sans-serif;
    font-size: 16px;
}

header {
    padding: 25px;
}

.button {
    border: none;
    padding: 15px 25px;
    border-radius: 25px;
}

p {
    color: #7d7987;
}

.header-wrapper {
    width: 85%;
    margin: 0 auto;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 160px;
}

header nav a {
    margin-left: 45px;
    color: #1f1534;
    opacity: 0.5;
    text-decoration: dotted;
}

header nav a:first-child {
    margin-left: 0;
}

.active-link {
    color: black;
    opacity: 1;
    font-weight: 700;
}

.welcome-wrapper {
    width: 90%;
    margin: 0 auto;
}

.inner {
padding: 75px 0;
}

.welcome-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#welcome img {
    width: 480px;
}

.welcome-details {
    width: 450px;
}

#welcome h1 {
    font-size: 2.5rem;
}

.welcome-btn {
    color: aliceblue;
    background-color: #458ff6;
    border: none;
    padding: 15px 25px;
    border-radius: 25px;
    text-decoration: none;
}

#services {
    margin-top: 100px;
    background: url(../img/services-bg.png);
    background-size: cover;
}

.services-wrapper {
    width: 60%;
    margin: 0 auto;
}

.services-text {
    text-align: center;
}

.services-text hr {
    width: 56px;
    height: 2px;
    background-color: black;
    margin: 35px auto;
}

.card {
    background-color: azure;
    width: 238px;
    padding: 25px;
    box-shadow: 0 0 15px 0 #999;
}

.cards-row {
    display: flex;
    justify-content: space-between;
}

.services-cards {
    margin-top: 100px;
}

.card p {
    line-height: 1.5;
}

.card img {
    width: 68px;
}

.default {
    background-color: white;
    color: #458ff6;
    border: 1px solid #458ff6;
    padding: 15px 25px;
    border-radius: 25px;
}

.btn-container {
    text-align: center;
}

.projects-wrapper {
    margin: 0 auto;
    width: 70%;
}

.project img {
    width: 50%;
}

.project-text {
    width: 50%;
}

.project-container > * {
    margin-bottom: 100px;
}

.project-text hr {
    width: 56px;
    height: 2px;
    background-color: black;
    margin: 35px 0;
}

.project {
    display: flex;
    justify-content: space-between;
}

.right-aligned {
    flex-direction: row-reverse;
}

.project-text h1 {
    font-size: 2.25rem;
}

.project-text button {
    font-size: 1.15rem;
}
